.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 0;
    background: black;
    color: white;



    .header__navbar {
        justify-content: space-between;
    }

    &__logo {
        width: 80px;

        img {
            width: 100%;
        }
    }

    &__list {
        gap: 20px;
    }

    &__item {
        padding: 4px 0;
        border-bottom: 1px solid transparent;
        transition: 0.5s;

        &:hover {
            border-color: $orangCl;
            color: $orangCl;
        }

    }

    &__item--close {
        font-size: 20px;
        color: red;
        display: none;
        cursor: pointer;
    }

    &__item__border {
        padding-left: 10px;
        border-left: 1px solid white;
        border-bottom: none;
    }

    &__info__top {
        gap: 10px;
        margin-bottom: 6px;
    }

    &__item__btn {
        border: none;
    }

    &__btn {
        @include btn()
    }

    &__hamburger {
        display: none;
        flex-direction: column;
        gap: 5px;
        background: transparent;

        span {
            width: 25px;
            height: 3px;
            background: $orangCl;
            border-radius: 2px;
        }
    }
}


@media (max-width:910px) {
    .header {
        &__list {
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            background: #000002;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0px 0px 10px $orangCl;
            transition: 0.5s;
        }


        &__hamburger {
            display: flex;
        }

        &__show__list {
            left: 0;
        }

        &__item--close {
            position: absolute;
            display: block;
            color: red;
            top: 15px;
            right: 20px;
        }

        &__show__left {
            left: -100%;
        }

    }
}

@media (max-width:380px) {
    .header {
        &__list {
            width: 80%;
        }

        &__logo {
            width: 60px;
        }
    }
}